<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quiz {{it.code}} | Quizzer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{@each(it.imports) => val, index}}
    {{val | safe}}
    {{/each}}
    <script>
        let name = "{{it.name}}";
        let code = "{{it.code}}";
    </script>
</head>

<body class="flex w-screen h-screen m-0 p-0 font-['Poppins'] bg-gradient-to-r from-blue-400 via-purple-500 to-red-500">
    <div class="w-full h-full m-0 p-0 relative">
        <nav hx-boost="true"
            class="container flex flex-row mx-auto my-4 p-2 bg-neutral-100 rounded-xl shadow-2xl items-center justify-center">
            <a class="ml-1 text-3xl font-bold" href="/">Quizzer</a>
            <div class="mx-auto flex flex-row text-neutral-900 font-bold text-xl">
                <div class="py-2 px-3 bg-neutral-200 rounded-lg">
                    00 : 00
                </div>
                <div class="ml-2 py-2 px-3 bg-neutral-200 rounded-lg">
                    0 / 5
                </div>
            </div>
            <button
                class="ml-4 py-2 px-3 bg-neutral-900 text-neutral-100 text-xl rounded-lg hover:bg-neutral-700 transition duration-200">
                Rank
            </button>
        </nav>
        {{@includeFile('wait.html', it) /}}
    </div>
</body>

</html>
